{% set networkData = _Network.getNetworkData() %}
<div class="page_section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-12 col-centered">
                <div class="error-wrapper text-center">
                    <img src="{{networkData.templatePath}}/static/images/icons/error.svg" class="error-icon" alt="Error Icon" />
                    <div class="error-message">
                        <h1 class="error-heading"><span>{{name}}</span></h1>
                        <p class="content-section"><span>{{_AppHelper.translator('app', message)}}</span></p>
                        <a class="button red home-button" href="{{networkData.defaultBlogUrl}}"><i class="fa fa-long-arrow-left"></i>Back to Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>                    